<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col-xl-3">
                <input type="button" id="showallbutton" value="Show all" v-on:click="ShowallRecords">

                <ul id="allrecords" v-if="records.length">
                    <li name="r" v-for="record in records">
                        {{record.title}}, {{record.artist}}, {{record.duration}}, {{record.publicationYear}}, {{record.genre}}
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <input type="button" id="showbytitlebutton" value="Show by title" v-on:click="ShowRecordsWithTitleLike">
                <input type="text" id="titleinput" placeholder="title" v-model="titleToSearchFor">

                <ul id="titlerecords" v-if="titleRecords.length">
                    <li name="tr" v-for="record in titleRecords">
                        {{record.title}}, {{record.artist}}, {{record.duration}}, {{record.publicationYear}}, {{record.genre}}
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <input type="button" id="showbyartistbutton" value="Show by artist" v-on:click="ShowRecordsWithArtistLike">
                <input type="text" id="artistinput" placeholder="artist" v-model="artistToSearchFor">

                <ul id="artistrecords" v-if="artistRecords.length">
                    <li name="ar" v-for="record in artistRecords">
                        {{record.title}}, {{record.artist}}, {{record.duration}}, {{record.publicationYear}}, {{record.genre}}
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <input type="button" id="showbygenrebutton" value="Show by genre" v-on:click="ShowRecordsWithGenreLike">
                <input type="text" id="genreinput" placeholder="genre" v-model="genreToSearchFor">

                <ul id="genrerecords" v-if="genreRecords.length">
                    <li name="gr" v-for="record in genreRecords">
                        {{record.title}}, {{record.artist}}, {{record.duration}}, {{record.publicationYear}}, {{record.genre}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <input type="text" id="titleaddinput" placeholder="title" v-model="addData.title">
                <input type="text" id="artistaddinput" placeholder="artist" v-model="addData.artist">
                <input type="number" id="durationaddinput" placeholder="90" v-model="addData.duration">
                <input type="number" id="yearaddinput" placeholder="2000" v-model="addData.publicationYear">
                <input type="text" id="genreaddinput" placeholder="genre" v-model="addData.genre">
                <input type="button" id="addbutton" value="Add Record" v-on:click="AddMusicRecord">
            </div>
            <div class="col-xl-3">
                <input type="text" id="titledeleteinput" placeholder="title" v-model="deleteData.title">
                <input type="text" id="artistdeleteinput" placeholder="artist" v-model="deleteData.artist">
                <input type="number" id="durationdeleteinput" placeholder="90" v-model="deleteData.duration">
                <input type="number" id="yeardeleteinput" placeholder="2000" v-model="deleteData.publicationYear">
                <input type="text" id="genredeleteinput" placeholder="genre" v-model="deleteData.genre">
                <input type="button" id="deletebutton" value="Delete Record" v-on:click="DeleteMusicRecord">
            </div>
            <div class="col-xl-3">
                
            </div>
            <div class="col-xl-3">
                
            </div>
        </div>

        




    </div>
    <script src="js/js.js"></script>
</body>

</html>